**my first notebook**
**hello world**

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [5]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [6]:
 s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range('20130101', periods=6)

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [10]:
df

                   A         B         C         D
2013-01-01  1.279976  0.445159 -0.499738  1.325943
2013-01-02 -0.099479 -1.500972 -0.751021  1.054196
2013-01-03 -0.720406  0.574644 -0.430106 -0.751753
2013-01-04  0.340799  0.333575  0.703472  0.669293
2013-01-05  0.273806 -0.878072  0.320823  0.697727
2013-01-06  0.044006 -0.082519  0.326387 -0.910034

In [11]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!